<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <th>Name</th>
                {% for name in todo_list %}
                <tr>{{ todo_list.name }}</tr>
                {% endfor %}
                <th>Number of items</th>
                {% for items in todo_list %}
                <tr>{{ items.name }}</tr>
            </table>
        </div>
    </main>

</body>
</html>
